header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F25A70;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
} 

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-family: "roboto";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


a::before {
    content: "";
    background-color:  #E29B5B;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    background-color: #E29B5B;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #E29B5B;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear 200ms ease-in-out;
}

#button:hover {
    transform: scale(1.08);
}